---
layout: default
---
<div id="main">
  <section>
    {% for post in site.posts limit:1 %}
      <header>
        <h1>{{ post.title }}</h1>
        <p class="post-meta">{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <section>
        {{ post.content }}
        <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></p>
      </section>
    {% endfor %}
  </section>

</div>
