---
layout: default
---
<div id="main">
  <section>
      <header>
        <h1>{{ post.News.title }}</h1>
        <p class="post-meta">{% if post.author %} • {{ post.News.author }}{% endif %}{% if page.News.meta %} • {{ page.News.meta }}{% endif %}</p>
      </header>
      <section>
        {{ post.News.content }}
        <p class="editor-link"><a href="cloudcannon:collections/{{ post.News.path }}" class="button"><strong>&#9998;</strong> Edit post</a></p>
      </section>
  </section>

</div>
